<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GOYTS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <style>
        .hide {
            display: none;
        }
    </style>
</head>
    <body>
        <main class="container">
            <label for="theme-toggle">
                <input id="theme-toggle" type="checkbox" role="switch" checked />
                Dark Mode
            </label>
            <article id="summary-card">
                <form id="yt-summary-form" action="/yt-summary">
                    <div class="grid">
                        <label for="yt-url">
                            Input a youtube video
                            <input autocomplete="off" name="video_url" type="url" id="yt-url" placeholder="https://www.youtube.com/watch?v=dQw4w9WgXcQ"/>
                        </label>
                    </div>
                    <button id="summary-button" type="submit" class="">
                        Summarize
                    </button>
                </form> 
            </article>
            <article id="summary-response-container" class="hide">
                <header><h2>Summary</h2></header>
                <div id="summary-response"></div>
            </article>
        </main>
        <script type="application/javascript">
            const $themeToggle = document.getElementById('theme-toggle');
            const $form = document.getElementById('yt-summary-form');
            const $urlInput = document.getElementById('yt-url');
            const $button = document.getElementById('summary-button');
            const $html = document.documentElement;

            const summaryRequest = ({ url, video_url}, cb) => {
                if (!video_url || !video_url.length) {
                    $urlInput.setAttribute('aria-invalid', true);
                    return;
                } else {
                    $urlInput.setAttribute('aria-invalid', false);
                }

                const videoURLParams = new URL(video_url).searchParams;
                const videoId = videoURLParams.get('v');

                if (!videoId) {
                    $urlInput.setAttribute('aria-invalid', true);
                    return;
                } else {
                    $urlInput.setAttribute('aria-invalid', false);
                }

                const formData = new FormData();
                formData.append('video', videoId);

                var r = new XMLHttpRequest();
                r.open("POST", url, true);
                r.onreadystatechange = function () {
                    cb(r);
                    $button.setAttribute('aria-busy', false);
                };
                r.send(formData);
                $button.setAttribute('aria-busy', true);
            };

            $themeToggle.addEventListener('change', function (e) {
                document.documentElement.setAttribute('data-theme', this.checked ? 'dark' : 'light');
                localStorage.setItem('data-theme', this.checked ? 'dark' : 'light');
            });

            const persistedTheme = localStorage.getItem('data-theme') || 'dark';
            localStorage.setItem('data-theme', persistedTheme);

            $themeToggle.setAttribute('checked', persistedTheme === 'dark');

            $html.setAttribute('data-theme', persistedTheme);

            $form.addEventListener('submit', function (e) {
                e.preventDefault();
                
                const url = this.attributes['action'].value;
                const videoURL = document.getElementById('yt-url').value;

                summaryRequest({ url, video_url: videoURL }, (r) => {
                    if (r.readyState != 4 || r.status != 200) return;
                    let res;
                    try {
                        res = JSON.parse(r.responseText) ;
                    } catch (e) {
                        res = {};
                    }

                    const $summaryResponse = document.getElementById('summary-response');
                    const $summaryContainer = document.getElementById('summary-response-container');
                    $summaryResponse.innerHTML = 
                        res.response || 'Something went wrong or the video may be too long';

                    $summaryContainer.classList.remove('hide');
                });
            });
        </script>
    </body>
</html>

